.login-container{
    height: 100vh;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    gap: 2rem;
}

.login-container a{
    text-decoration: none;
    transition: 0.5s;
}
.login-container a:hover{
    color:rgb(82, 209, 255);
}